# configuration file for test.

driver: firefox
headless: true
profile: selenium
profile-dir: /path/to/profile/directory
proxy: proxy-host
proxy-user: user-name
proxy-password: password
no-proxy: no-proxy-hosts
cli-args: arg1
  arg2
  arg3
remote-url: http://example.com:4444/
remote-platform: linux
remote-browser: firefox
remote-version: 1.2.3
highlight: true
screenshot-dir: /path/to/screenshot/directory
screenshot-all: /path/to/screenshot/directory/all
screenshot-on-fail: /path/to/screenshot/directory/fail
ignore-screenshot-command: false
baseurl: http://baseurl.example.com/
firefox: /path/to/firefox/binary
geckodriver: /path/to/geckodriver
chromedriver: /path/to/chromedriver
iedriver: /path/to/iedriver
edgedriver: /path/to/edgedriver
xml-result: /path/to/xml/result
html-result: /path/to/html/result
timeout: 300
set-speed: 100
height: 1024
width: 768
define:
  key1=value1
  key2=value2
  key3=value3
alerts-policy: accept
rollup: /path/to/rollup
cookie-filter: ^SID
command-factory: full.qualify.class.Name
log-filter:
  -pageinfo
  +title
  +url
no-replace-alert-method: true
