<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %logger{36} [%level] %msg%n</Pattern>
    </encoder>
  </appender>
  <logger name="jp.vmi.selenium" level="${srj.log.level:-INFO}"/>
  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
